html, body
{
    height:fit-content;
    background-color: black;
}

body
{
    display: grid;
    align-content: center;
    
}



canvas
{
    
    margin: auto;
   
}

button
{
    margin: auto;
}
