* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  display: block;
  align-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;

  
}


.header {
  font-size: 20px;
  text-align: center;
}


#headerdiv {
  height: 15vh;
}

#array {
  
  background-color: white;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  
}

.block {
  width: 25px;
  background-color: #6b5b95;
  transition: 0.2s all ease;
  transform: translateZ(10px);
  margin-right: 1px;
  
}
.block_id {
  position: absolute;
  color: black;
  margin-left: -15px;
  margin-top: -20px;
  width: 100%;
  text-align: center;
}
.block_id2 {
  /* position: absolute; */
  color: black;
  margin-top: 22px;
  width: 100%;
  text-align: center;
}
.block2 {
  width: 25px;
  background-color: darkgray;
  transition: 0.2s all ease;
  /* transform: translateZ(10px); */
  margin-right: 1px;
  
}
.block_id3 {
  color: black;
  margin-top: 1px;
  width: 100%;
  text-align: center;
}

#count {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  

}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}


@media only screen and (max-width: 500px) {
  label {
      display: none;
  }

}

@media only screen and (max-height: 650px) {
  #headerdiv {
      display: none;
  }

  .block_id {
    display: none;
  }

}